* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.bg {
  opacity: 0.2;
  position: absolute;
  margin-top: 0px;
}

.bgTwo {
  opacity: 0.2;
  position: absolute;
  margin-top: 1080px;
}

.bgThree {
  opacity: 0.2;
  position: absolute;
  margin-top: 2160px;
  width: 100%;
}

.container {
  width: 100%;
  height: 200px;
  color: #000;
  position: absolute;
  z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: futura;
  font-weight: 100;
  color: #E30613;
}

p {
  margin: 0;
}

#navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

#navBar {
  display: flex;
  flex-direction: row;
  z-index: 3;
}

#navigation a {
  margin: 50px;
  color: #E30613;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
  font-size: 20px;
  font-family: futura;
}

#navigation li {
  display: inline-block;
}

#navBar h1 {
  width: 25%;
  font-size: 42px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
  font-family: futura;
  
}

.hero-banner h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 200px;
  width: 100%;
  letter-spacing: 150px;
  color: rgba(0, 0, 0, 0.7);
}

#about h2 {
  display: flex;
  margin-top: 100px;
  margin-left: 100px;
  letter-spacing: 50px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
  justify-content: flex-start;
  align-items: flex-start;
}

#about p {
  display: flex;
  position: absolute;
  width: 40%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 100px;
  margin-top: 10px;
}

#work h2 {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 100px;
  margin-top: 200px;
  letter-spacing: 50px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
}

#grid {
  margin: 10px 5%;
  display: grid;
  grid-template-rows:  250px 500px 500px 500px 500px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "none none illustration illustration" 
  "ps psOne illustration illustration"
  "logos logos logos logos"
  "XDWeb XDWeb XDWebOne XDWebOne"
  "XDWebTwo XDWebTwo XDWebThree XDWebThree";
}

#ai {
  grid-area: illustration;
  background-image: url("../images/me.png");
  background-position: absolute;
  z-index: 2;
}

#ps {
  grid-area: ps;
  background-image: url("../images/heartstoner.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;

}

#psOne {
  grid-area: psOne;
  background-image: url("../images/gradient.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;
}

#none {
  grid-area: none;
}

#logos {
  grid-area: logos;
  background-image: url("../images/Hard-Cover-Book-01.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;
}

#XDWeb {
  grid-area: XDWeb;
  background-image: url("../images/Web\ 1920\ –\ 6.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;
}

#XDWebOne {
  grid-area: XDWebOne;
  background-image: url("../images/Web\ 1920\ –\ 7.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;
}

#XDWebTwo {
  grid-area: XDWebTwo;
  background-image: url("../images/Web\ 1920\ –\ 8.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;
}

#XDWebThree {
  grid-area: XDWebThree;
  background-image: url("../images/Web\ 1920\ –\ 10.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;
}

.workGrid {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2px;
  cursor: pointer;
  opacity: 0.8;
}
.workGrid:hover {
  opacity: 100;
}

#gridTwo {
  margin: 10px 5%;
  display: grid;
  grid-template-rows: 300px 500px;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas: 
  "pic pic info info"
  "pic pic info info"
}

#contact h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  letter-spacing: 50px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
}

#pic {
  grid-area: pic;
  background-image: url("../images/IMG_0946.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;
  margin-left: -265px;
}

#info {
  grid-area: info;
}

.infocontent h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-top: 100px;
  letter-spacing: 10px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
  font-size: 24px;
}

.infocontent a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
  margin-left: 20px;
  font-size: 24px;
}
.heading {
  background-color: rgba(255, 0, 0, 0.5);
  font-family: futura;
  border-bottom: 2px solid;
  padding: 2px;
  text-align: center;
}

#none .heading {
  opacity: 0;
}

#resume h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  letter-spacing: 50px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
}


@media only screen and (max-width: 1728px){
  .me {
    margin-top: 248px;
  margin-left: 545px;
  }
}

@media only screen and (max-width: 1500px){

  #navBar h1 {
    width: 50%;
  }

  .hero-banner h2 {
    letter-spacing: 100px;
    margin-left: 120px;
  }
  
  #about h2 {
    margin-left: 65px
  }

  #about p {
    margin-left: 65px;
    margin-top: 10px;
    width: 40%;
}

  #work h2 {
    margin-left: 65px;
}

.infocontent h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infocontent a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gridTwo {
  margin: 10px 5%;
  display: grid;
  grid-template-rows: 1000px;
  grid-template-columns: 1fr ;
  grid-template-areas: 
  "pic pic "
  "info info"
}

#pic {
  margin-left: -240px;
}
}

@media only screen and (max-width: 768px) {
  .hero-banner h2 {
    width: 100%;
    letter-spacing: 50px;
    margin-left: 70px;
  }

  #navBar h1 {
    width: 50%;
  }

  #navigation {
    display: none;
  }

  #about h2 {
    margin-left: 40px;
  }

  #about p {
    margin-left: 40px;
    margin-top: 10px;
    width: 70%;
}

#work h2 {
  margin-top: 176px;
  letter-spacing: 50px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
  margin-left: 40px;
}

.me {
  display: block;
  width: 512px;
  height: 512px;
  position: absolute;
  margin-top: 670px;
  margin-left: 199px;
  border: 10px;
}


#pic {
  margin-left: -90px;
  width: 1000px;
}
}

