* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-image: url(../images/elgraphicacover.png);
  height: 1080px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: futura;
  font-weight: 100;
}

p {
  margin: 0;
}

#navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  
}

#navBar {
  display: flex;
  flex-direction: row;
}

#navigation p {
  margin: 50px;
  color: #E30613;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
  font-size: 20px;
  font-family: futura;
}

#navBar h1 {
  width: 25%;
  font-size: 42px;
  color: #E30613;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
  font-family: futura;
  
}

.hero-banner h2 {
  width: 100%;
  letter-spacing: 150px;
  color: rgba(0, 0, 0, 0.7);
}

#about h2 {
  margin-top: 700px;
  letter-spacing: 50px;
  color: #E30613;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
}

#about p {
  margin-left: 60px;
  margin-right: 60px;
}

#work h2 {
  margin-top: 200px;
}