* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.bg {
  opacity: 0.2;
  position: absolute;
  margin-top: 0px;
}

.bgTwo {
  opacity: 0.2;
  position: absolute;
  margin-top: 1080px;
}

.bgThree {
  opacity: 0.2;
  position: absolute;
  margin-top: 2160px;
  height: 565px;
  width: 100%;
}

.bgFour {
  opacity: 0.2;
  position: absolute;
  margin-top: 2725px;
}

.me {
  display: block;
  width: 1024px;
  height: 1024px;
  position: absolute;
  margin-top: 200px;
  margin-left: 784px;
  border: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: futura;
  font-weight: 100;
  color: #E30613;
}

p {
  margin: 0;
}

#navigation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  
}

#navBar {
  display: flex;
  flex-direction: row;
}

#navigation a {
  margin: 50px;
  color: #E30613;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
  font-size: 20px;
  font-family: futura;
}

#navBar h1 {
  width: 25%;
  font-size: 42px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
  font-family: futura;
  
}

.hero-banner h2 {
  width: 100%;
  letter-spacing: 150px;
  color: rgba(0, 0, 0, 0.7);
}

#about h2 {
  margin-top: 100px;
  letter-spacing: 50px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
  margin-left: -1190px;
}

#about p {
  margin-left: 95px;
  margin-right: 1200px;
  margin-top: 10px;
}

#work h2 {
  margin-top: 176px;
  letter-spacing: 50px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
  margin-left: -1240px;
}

#contact h2 {
  margin-top: 100px;
  letter-spacing: 50px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
}

#resume h2 {
  margin-top: 100px;
  letter-spacing: 50px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
}

#grid {
  margin: 10px 5%;
  display: grid;
  grid-template-rows: 500px 500px 500px 500px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "ps psOne none none"
  "logos logos logos logos"
  "XDWeb XDWeb XDWebOne XDWebOne"
  "XDWebTwo XDWebTwo XDWebThree XDWebThree";
}

#ps {
  grid-area: ps;
  background-image: url("../images/heartstoner.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;

}

#psOne {
  grid-area: psOne;
  background-image: url("../images/gradient.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;
}

#none {
  grid-area: none;
}

#logos {
  grid-area: logos;
  background-image: url("../images/Hard-Cover-Book-01.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;
}

#XDWeb {
  grid-area: XDWeb;
  background-image: url("../images/Web\ 1920\ –\ 6.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;
}

#XDWebOne {
  grid-area: XDWebOne;
  background-image: url("../images/Web\ 1920\ –\ 7.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;
}

#XDWebTwo {
  grid-area: XDWebTwo;
  background-image: url("../images/Web\ 1920\ –\ 8.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;
}

#XDWebThree {
  grid-area: XDWebThree;
  background-image: url("../images/Web\ 1920\ –\ 10.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;
}

.workGrid {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2px;
}

#gridTwo {
  margin: 10px 5%;
  display: grid;
  grid-template-rows: 300px 500px;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas: 
  "pic pic info info"
  "pic pic info info"
}

#pic {
  grid-area: pic;
  background-image: url("../images/IMG_0946.png");
  background-size: cover;
  background-position: absolute;
  z-index: 2;
  margin-left: -265px;
}

#info {
  grid-area: info;
}

.infocontent h3 {
  margin-top: 100px;
  letter-spacing: 10px;
  text-shadow: -1px 1px rgba(0, 0, 0, 0.7);
  font-size: 42px;
}

.infocontent a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
  font-size: 24px;
}